@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

    .logo {
        margin: auto;
        font-weight: bold;
        font-size: x-large;
        color: #253356;
        cursor: pointer;
    }

    nav {
        ul {
            padding: 0;
            margin: auto;
            list-style-type: none;
            display: grid;
            grid-template-columns: auto auto auto auto;

            li {
                margin: auto;

                &:hover {
                    background-color: rgb(226, 226, 226);
                }
            }

            a {
                margin: 0;
                padding: 2em 2em;
                font-size: 1.1rem;
                color: black;
                display: block;
            }

            .select {
                border-bottom: 0.2rem solid #121429;
            }
        }
    }

    a {
        margin: auto;

        svg {
            margin: auto;
            width: 2em;
            cursor: pointer;

            path {
                fill: #121429
            }
        }
    }

}

section.home-content {
    display: grid;
    margin-top: 9em;
    grid-template-columns: 27% 50% 20%;

    .title {

        //padding: 10em 20em 0em 22em;
        h1 {
            color: #121429;
            font-size: 3rem;
        }

        p {
            color: #253356;
        }
    }
}

section.content {
    margin: 0;
    margin-top: 10em;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: auto auto;
    column-gap: 1em;
    row-gap: 1em;

    .icon {
        margin: auto;
        padding: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 65% auto;

        svg {
            width: 3em;
            align-self: center;

            path {
                fill: #121429
            }
        }
    }

    .title {
        margin: auto;
        padding: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);

        p {
            color: #121429;
            margin: 0;
            margin-left: 1em;
            font-weight: bold;
            font-size: 3rem;
        }
    }

    .table {
        margin: auto;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;

        .table-content {
            width: auto;
            min-width: 89%;
            max-width: 89%;
            table-layout: fixed;
            margin: 0;
            margin-left: 3em;

            th {
                color: white;
                background-color: #253356;
                border: 0.1rem solid #121429;
            }

            td {
                text-align: center;
                border: 0.1rem solid #121429;
            }
        }
    }

    .infor {
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 1em;
        .read-only {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 1em;
            div {
                display: grid;
                grid-template-columns: auto auto;
                background-color: rgba(255, 255, 255, 0.8);
            }
        }
        .write-able {
            display: grid;
            grid-template-rows: auto auto;
            row-gap: 1em;
            div {
                display: grid;
                grid-template-columns: 20% auto 20%;
                background-color: rgba(255, 255, 255, 0.8);
                form {
                    margin: auto;
                    input[type=text],
                    input[type=password] {
                        padding: 0 1em;
                        font-size: 1rem;
                        text-align: center;
                        color: #121429;
                        border-color: #121429;
                        border-width: 0.1rem;
                        border-radius: 1rem;
                        &:read-only {
                            background-color: rgb(176, 175, 226);
                            &:hover {
                                cursor: default;
                            }
                        }
                    }
                    input[type=button] {
                        padding: 0.3em 0.6em;
                        color: white;
                        font-size: medium;
                        font-weight: bold;
                        background-color: #253356;
                        border: none;
                        border-radius: 1rem;
                        &:hover {
                            background-color: #121429;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        p {
            margin: auto;
        }
        h3 {
            margin: 1em;
        }
    }
}

@media only screen and (max-width: 700px) {
    .background {
        background-position-x: 20%;
    }

    header {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;

        .logo {
            padding: 0.5em 0 1em;
        }

        nav {
            padding: 0;

            ul {

                grid-template-columns: auto;
                grid-template-rows: auto auto auto auto;

                li {
                    margin: 0;
                }

                a {
                    padding: 1em 2em;
                }

                .select {
                    color: white;
                    font-weight: bold;
                    background-color: #253356;
                    border-bottom: none;
                }
            }
        }
    }

    section.content {

        grid-template-columns: 12% auto;
        column-gap: 0.5em;
        row-gap: 0.5em;

        .icon {
            grid-template-columns: 5% auto;
        }

        .title {
            p {
                margin-left: 0.1em;
            }
        }

        .table {
            .table-content {
                margin-left: 0.3em;
            }
        }

        .infor {
            row-gap: 0.5em;
            .read-only {
                column-gap: 0.5em;
            }
            .write-able {
                row-gap: 0.5em;
                div {
                    form {
                        input[type=text],
                        input[type=password] {
                            margin-left: 2em;
                            padding: 0;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}